<a href="https://colab.research.google.com/github/rajdas2001/Code-Prep/blob/main/TCS_NQT_Prep_(II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TCS NQT Prep (II)
https://prepinsta.com/tcs-coding-questions/

In [ ]:
n1=int(input("Enter the number of Interior Walls"))
n2=int(input("Enter the number of Exterior Walls "))
s=0
ar1=[]
ar2=[]
if n1!=0:
  for i in range(n1):
    a=float(input("Enter the values"))
    ar1.append(float(a))
if n2!=0:
  for j in range(n2):
    a=float(input("Enter the values"))
    ar2.append(float(a))
print(ar1)
print(ar2)
s1=sum(ar1)
s2=sum(ar2)
s=s1*18 + s2*12
print(s)

Enter the number of Interior Walls6
Enter the number of Exterior Walls 3
Enter the values12.3
Enter the values15.2
Enter the values12.3
Enter the values15.2
Enter the values12.3
Enter the values15.2
Enter the values10.10
Enter the values10.10
Enter the values10.10
[12.3, 15.2, 12.3, 15.2, 12.3, 15.2]
[10.1, 10.1, 10.1]
1848.6

In [ ]:
Path = [800, 600, 750, 900, 1400, 1200, 1100, 1500]
BusStops = [ "TH", "GA", "IC", "HA", "TE", "LU", "NI", "CA‚Äù ]

In [ ]:
teams = ['a','b','c']
res = [(a, b) for idx, a in enumerate(teams) for b in teams[idx + 1:]]
print(res)

[('a', 'b'), ('a', 'c'), ('b', 'c')]

In [ ]:
# Python code to create pair of element
# from two list such that element
# in pairs are not equal.

# List initialization
list1 =[10, 20, 30, 40]
list2 =[40, 50, 60]

# using list comprehension
output = [[a, b] for a in list1
		for b in list2 if a != b]

# printing output
print(output)

[[10, 40], [10, 50], [10, 60], [20, 40], [20, 50], [20, 60], [30, 40], [30, 50], [30, 60], [40, 50], [40, 60]]

In [ ]:
list1 =[10, 20, 30, 40]
list2 =[40, 50, 60]
a=[]
for i in list1:
  for j in list2:
    if  i != j:
      a.append([i,j])
print(a)

[[10, 40], [10, 50], [10, 60], [20, 40], [20, 50], [20, 60], [30, 40], [30, 50], [30, 60], [40, 50], [40, 60]]

In [ ]:
# Python code to create pair of element
# from two list such that element
# in pairs are not equal.

# Importing
import itertools

# List initialization
list1 =[11, 22, 33, 44]
list2 =[22, 44, 66]

# using itertools
temp = list(itertools.product(list1, list1))

# output list initialization
out = []

# iteration
for elem in temp:
	if elem[0]!= elem[1]:
		out.append(elem)

# printing output
print(out)

[(11, 22), (11, 33), (11, 44), (22, 11), (22, 33), (22, 44), (33, 11), (33, 22), (33, 44), (44, 11), (44, 22), (44, 33)]

In [ ]:
# Python3 code to demonstrate working of
# All possible pairs in List
# Using combinations()
from itertools import combinations

# initializing list
test_list = [1, 7, 4, 3]

# printing original list
print("The original list : " + str(test_list))

# All possible pairs in List
# Using combinations()
res = list(combinations(test_list, 2))

# printing result
print("All possible pairs : " + str(res))

The original list : [1, 7, 4, 3]
All possible pairs : [(1, 7), (1, 4), (1, 3), (7, 4), (7, 3), (4, 3)]

In [ ]:
string = 'Hello World'
char_list = list(string)

a = 0
e = 0
i = 0
o = 0
u = 0

for elements in char_list:
  if elements == 'a':
    a=a+1
  elif elements == 'e':
    e=e+1
  elif elements == 'i':
    i=i+1
  elif elements == 'o':
    o=o+1
  elif elements == 'u':
    u=u+1
print(a,e,i,o,u)

0 1 0 2 0

In [ ]:
string = 'Hello World'
char_list = list(string)
print(char_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [ ]:
string = 'Hello World' 
print(string.split())

['Hello', 'World']

In [7]:
vowels = 'aeiouAEIOU' 
s = "Hello World"
result = False 
for ch in s: 
	if ch in vowels: 
		result = True 
		break # can stop loop after first vowel found 
result = any(ch in vowels for ch in s) 
print(result)

True

In [8]:
a = 0
e = 0
i = 0
o = 0
u = 0

vowels = 'aeiou' 
s = input("Enter the string")
result = False 
for ch in s: 
	if ch in vowels: 
		result = True 
		break # can stop loop after first vowel found 
result = any(ch in vowels for ch in s) 

if result == True:
  for elements in s:
    if elements == 'a':
      a=a+1
    elif elements == 'e':
      e=e+1
    elif elements == 'i':
      i=i+1
    elif elements == 'o':
      o=o+1
    elif elements == 'u':
      u=u+1
  print("a:"+str(a))
  print("e:"+str(e))
  print("i:"+str(i))
  print("o:"+str(o))
  print("u:"+str(u))
    
else:
  print("0")

Enter the stringhello world
a:0
e:1
i:0
o:2
u:0

Printing area of a circle upto 2 decimal places

In [10]:
r = float(input("Enter number"))
pi=3.14
area=pi*r*r
print("{:.2f}".format(area))

Enter number5
78.50

In [11]:
x = 3.1415926
y = 12.9999
print("\nOriginal Number: ", x)
print("Formatted Number: "+"{:.2f}".format(x));
print("Original Number: ", y)
print("Formatted Number: "+"{:.2f}".format(y));
print()

Original Number:  3.1415926
Formatted Number: 3.14
Original Number:  12.9999
Formatted Number: 13.00